body {
    background-color: #dadada;
    font-family: Candara;
    padding: 0;
    margin: 0;
}

#wrapper {
    max-width: 500px;
    background-color: aliceblue;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
}

header {
    background-color: #ffffff;
    border: 1px solid grey;
    margin-bottom: 10px;
}


.bar-haut {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.bar-haut li{
    list-style-type: none;
}

.colorSpan {
    color: #0088ff;
}

h1, p {
    text-align: center;
}

.log {
    margin-bottom: 5px;
}

a{
    border: 1px solid grey;
    padding: 3px 10px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.log a:hover {
    color: cadetblue;
}

input {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.clickHere2 button{
    background-color: #dadada;
    border: 1px solid gray;
    background-color: #efefef;
    border-radius: 2px;
}

.clickHere2 button:active {
    background-color: aquamarine;
}

.clickHere2 {
    margin-top: 10px;
    justify-self: end;
}



